output/*
build_kernel/G920F/Image
build_kernel/G920F/boot.img
build_kernel/G920F/ramdisk.gz

build_kernel/G925F/Image
build_kernel/G925F/boot.img
build_kernel/G925F/ramdisk.gz

build_kernel/G920T/Image
build_kernel/G920T/boot.img
build_kernel/G920T/ramdisk.gz

build_kernel/G925T/Image
build_kernel/G925T/boot.img
build_kernel/G925T/ramdisk.gz

build_kernel/G920W8/Image
build_kernel/G920W8/boot.img
build_kernel/G920W8/ramdisk.gz

build_kernel/G925W8/Image
build_kernel/G925W8/boot.img
build_kernel/G925W8/ramdisk.gz

